<h3>系统设置</h3>
<div id="article_container" >
    <!-- 基础信息 -->
    <div class="col-md-5">
        <div class="x_panel">
            <div class="x_title">
                <h2>用户信息</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <ul class="list-unstyled user_data" id="user_info">
                    <li class="row">
                        <div class="input-group">
                            <div class="input-group-addon">昵称</div>
                            <input type="text" class="form-control" id="nikename" placeholder="昵称" disabled value="二狗子">
                        </div>
                    </li>
                    <li class="row">
                        <div class="input-group">
                            <div class="input-group-addon">邮箱</div>
                            <input type="email" class="form-control" id="email" placeholder="邮箱" disabled value="zhangyw001@gmail.com">
                        </div>
                    </li>
                    <li class="row">
                        <div class="input-group">
                            <div class="input-group-addon">微博</div>
                            <input type="text" class="form-control" id="weibo" placeholder="微博" disabled value="专业喝咖啡">
                        </div>
                    </li>
                    <li class="row">
                        <div class="input-group">
                            <div class="input-group-addon">微信</div>
                            <input type="text" class="form-control" id="weixin" placeholder="微信" disabled value="专业喝咖啡">
                        </div>
                    </li>
                    <li class="row">
                        <div class="input-group">
                            <div class="input-group-addon">知乎</div>
                            <input type="text" class="form-control" id="zhihu" placeholder="知乎" disabled value="网慢会死人">
                        </div>
                    </li>
                    <li class="row">
                        <div class="input-group">
                            <div class="input-group-addon">facebook</div>
                            <input type="text" class="form-control" id="facebook" placeholder="facebook" disabled value="网慢会死人">
                        </div>
                    </li>
                    <li class="row">
                        <div class="input-group">
                            <div class="input-group-addon">twitter</div>
                            <input type="text" class="form-control" id="twitter" placeholder="twitter" disabled value="网慢会死人">
                        </div>
                    </li>
                </ul>
                <a class="btn btn-success" id="edit-userinfo" value="edit"><i class="fa fa-edit m-right-xs"></i>修改</a>
                <br/>
                <!-- end of skills -->
            </div>
        </div>
    </div>
</div>