---
layout: default
title: Blog
---
<div class="well">
    <div class="list-group">
      <% for( post in paginator.posts){ %>
      <div class="list-group-item">
        <div class="row-action-primary">
          <i class="fa fa-sticky-note"></i>
        </div>
        <div class="row-content">
          <div class="least-content">${date_to_string(post.date)}</div>
          <h4 class="list-group-item-heading"><a href="${site.baseurl + post.url}">${ post.title }</a></h4>
          <p class="list-group-item-text">${ post.content post.content</div>
      </div>
      <div class="list-group-separator"></div>
      <%  }  %>
    </div>
   

    <!-- Pagination links -->
    <% if(paginator.total_pages > 1){ %>
    <ul class="pager">
      <% if(paginator.previous_page){ %>
        <li class="previous">
          <a href="${ paginator.prereplace(site.baseurl + paginator.previous_page_path,'//','/')
        </li>
      <% } else { %>
        <li class="previous disabled"><span aria-hidden="true">&laquo;</span></li>
      <%  }  %>

      <li><a href="/">First</a></li>

      <% for( page in (1..paginator.total_pages)){ %>
        <% if(page == paginator.page){ %>
          <li class="active">
             <a>${ page }<span class="sr-only">(current)</span></a>
          </li>
        <% } else if(  page == 1){ %>
          <li><a href="/">${ page }</a></li>
        <% } else { %>
          <li>
            <a href="${ site.paginate_path | prepend: site.baseurl | replace: '//', '/replace(replace(site.baseurl + site.paginate_path,'//','/'),':num',page) %>

      <li><a href="/page${ paginator.total_pages }/">Last</a></li>

      <% if(paginator.next_page){ %>
        <li class="next">
          <a href="${ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }">&raquoreplace(site.baseurl + paginator.next_page_path,'//','/')ed"><span>&raquo;</span></li>
      <%  }  %>
    </ul>
    <%  }  %>
</div><!-- end #home -->
