<footer class="footer" role="contentinfo">
	<div class="container">
		<p class="copyright">Copyright &copy; 2014-${site.time!} <a href="${site.resume_site}"><code>${ site.author }</code></a>.</p>
		<p>Powered by TreeHole, themed from <a href="http://lesscss.cn/">Less</a>, refactored by <a href="http://www.hifreud.com/">Freud Kang</a></p>
	</div>
</footer>

<script src="${ sourceBasePath + '/styles/js/jquery.min.js'}"></script>
<script src="${ sourceBasePath + '/styles/js/bootstrap.min.js'}"></script>
<script src="${ sourceBasePath + '/styles/js/holder.min.js'}"></script>
<script src="${ sourceBasePath + '/styles/js/lessismore.js'}"></script>
<script src="${ sourceBasePath + '/styles/js/application.js'}"></script>
<script async src="//dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>