<% include("default-up.html",{}){}%>
<article class="post-container post-container--single" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <div class="post-meta">
      <time datetime="${post.date}" itemprop="datePublished" class="post-meta__date date">${post.date}</time> &#8226; <span class="post-meta__tags tags">${post.tags}</span>
    </div>
    <h1 class="post-title">${ post.title }</h1>
  </header>

  <section class="post">
    ${ post.content }
  </section>
</article>

<% include("../_includes/read-more.html",{}){}%>
<% include("../_includes/comments.html",{}){}%>
<% include("default-down.html",{}){}%>
