<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"/>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" />
<head>
    <% include("/templates/lib/head-meta.html",{title:'文章分类管理'}){} %>
    <% include("/templates/lib/head-style.html"){} %>
    <link href="/dist/fancygrid/fancy.min.css" rel="stylesheet" />
</head>

<body class="nav-md footer_fixed">
<div class="container body">
    <div class="main_container">
        <% include("/templates/lib/menu.html"){} %>
        <% include("/templates/lib/top-navigation.html"){} %>
        <% include("/templates/lib/page-content.html",{page:"/admin/article/kind-content.html"}){} %>
        <% include("/templates/lib/footer-content.html"){} %>
    </div>
</div>
<% include("/templates/lib/foot-script.html"){} %>
<script src="/dist/fancygrid/fancy.min.js"></script>
<script src="/js/admin/article/kind-index.js"></script>
</body>
</html>