<%
    var sourceBasePath = site.baseurl;
%>
<% include("_layouts/default.html",{"sourceBasePath":sourceBasePath}){} %>
 <div class="container docs-container">
    <div class="row">
        <div class="col-md-3" role="main">
            <div class="sidebar hidden-print" role="complementary">
                <div id="navigation">
                    <div><strong>关于我</strong></div>
                    ${site.about}
                </div>
            </div>
        </div>
      <div class="col-md-9" role="main">
        <div class="panel docs-content">
          <div class="wrapper">
            <div class="home">
              <% for( post in posts!) { %>
                <div class="item-list">
                    <h2>${post.title}</h2>
                    <h6>发表于 ${post.date}</h6>
                    <p>${post.excerpt}</p>
                    <a href="${post.path}"><div class="read-more">阅读全文</div></a>
                </div>
              <% } %>
                <div class="pageinfo row">
                    <div class="col-md-6">
                        <% if(paginator.previous_page > 0){  %>
                        <a href="${paginator.previous_page_path}"><div class="left-page">上一页</div></a>
                        <% } %>
                    </div>
                    <div class="col-md-6">
                        <% if(paginator.next_page <= paginator.total_pages){ %>
                        <a href="${paginator.next_page_path}"><div class="right-page">下一页</div></a>
                        <% } %>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
 </div>
<% include("_includes/footer.html",{sourceBasePath:sourceBasePath}){} %>
</body>
</html>