body{
    background-color: #fff0d5;
}
.steps .step{
    display: none;
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:7%;
}
.hidden{
    display: none;
}