.th-window{
    display: none;
    padding: 20px;
}
.th-window .row{
    padding-bottom: 10px
}
.layui-layer-content .th-window{
    display: block !important;
}
.red{
    color: red;
}
.label{
    color: #F1F6F7 !important;
}
header.comm-header{
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #929191;
}
footer.comm-footer{
    font-size: 14px;
    font-weight: bold;
    color: #929191;
    padding: 20px;
    background-color: #f7f8fa;
}