@charset "UTF-8";
body {
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", "DejaVu Sans", Arial, "PingFang SC", "Noto Sans CJK SC", "Hiragino Sans GB", "微软雅黑", Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5; }

a {
  text-decoration: none;
  color: #036; }

a:hover, a:focus {
  text-decoration: underline;
  color: #069; }

blockquote {
  background: #FFF;
  margin: 0;
  padding: 5px 20px;
  border-left: 10px solid #CCC; }

code, pre {
  font-family: Menlo, Monaco, Consolas, "DejaVu Sans Mono", "Liberation Mono", "文泉驿等宽微米黑", "Courier New", Courier, SimSun, monospace;
  font-size: 15px; }

code {
  color: #900;
  background-color: #fff;
  padding: 2px 5px;
  border-radius: 5px; }

pre {
  overflow-x: auto;
  padding: 20px 50px; }

pre, pre code {
  color: #fafafa;
  background-color: #223; }

pre code {
  padding: 0; }

.hide {
  display: none; }

.center {
  text-align: center; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 10pt auto;
  background: #FFF; }
  table td, table th {
    border: 1px solid #CCC;
    padding: 5px 15px;
    margin: 0; }
  table th {
    border-color: #555;
    background: #555;
    color: #eee;
    font-weight: normal; }
  table tr:hover {
    background: rgba(255, 255, 0, 0.2); }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

.wrapper {
  margin: 0 auto;
  max-width: 1100px; }

@media (max-width: 1120px) {
  .wrapper {
    max-width: 800px; } }
.header {
  line-height: 32px;
  background-color: #607D8B;
  padding: 10px;
  margin: 0; }
  .header:after {
    clear: both;
    content: ' ';
    display: block; }
  .header .site-title {
    float: left;
    color: #FFF;
    text-decoration: none;
    font-size: 16px;
    line-height: 32px; }
  .header .site-nav {
    text-align: right; }
    .header .site-nav a {
      text-decoration: none;
      color: #CFD8DC;
      padding: 10px 20px;
      white-space: nowrap; }
      .header .site-nav a:hover, .header .site-nav a:focus {
        background: #78909C; }

.page-content {
  background: #e0e0e3;
  padding: 30px 0; }
  .page-content .wrapper {
    position: relative;
    background: #FAFAFA;
    box-shadow: 0 1px 4px #999;
    outline: 1px solid #CCC; }
    .page-content .wrapper:after {
      clear: both;
      content: '';
      display: block; }
    .page-content .wrapper:before {
      content: '';
      display: block;
      position: absolute;
      width: 300px;
      height: 100%;
      left: 800px;
      top: 0;
      background: #EEE; }
  .page-content img {
    max-width: 100%; }

.col-main {
  position: relative;
  box-sizing: border-box;
  padding: 30px;
  width: 800px;
  float: left; }

.col-second {
  position: relative;
  box-sizing: border-box;
  float: left;
  width: 300px;
  padding: 20px;
  background: #EEE;
  z-index: 10; }

.col-box {
  color: #666;
  font-size: 14px;
  padding-bottom: 20px; }
  .col-box p {
    margin: 0; }
  .col-box ul {
    padding-left: 20px;
    margin: 0; }
  .col-box:not(:first-child) {
    border-top: 1px solid #ccc;
    padding-top: 20px; }
  .col-box .col-box-title {
    color: #333;
    margin-bottom: 10px;
    font-size: 15.4px; }

@media (max-width: 1120px) {
  .page-content .wrapper:before {
    display: none; }

  .col-main,
  .col-second {
    width: auto;
    float: none; }

  .col-box {
    width: 50%;
    float: left;
    margin-bottom: 10px; }

  .col-box:not(:first-child) {
    border-top: none;
    padding-top: 0; }

  .col-second:after {
    clear: both;
    display: block;
    content: ' '; } }
.col-box-author {
  text-align: center; }
  .col-box-author .avatar {
    width: 135px;
    height: 135px;
    border-radius: 100%;
    margin: 20px auto;
    display: block; }
  .col-box-author .name {
    font-size: 16px; }
  .col-box-author .contact {
    margin-top: 10px; }
    .col-box-author .contact a {
      background: #999;
      color: #eee;
      padding: 5px 10px;
      text-decoration: none;
      border-radius: 5px;
      white-space: nowrap; }
      .col-box-author .contact a:hover {
        transition: background 0.3s ease;
        background: #666; }

.footer {
  padding: 60px 0;
  background-color: #e0e0e3;
  text-align: center;
  color: #666;
  font-size: 14px; }

.post .post-header {
  margin: 0 100px;
  margin-bottom: 40px;
  padding: 20px; }
  .post .post-header .post-title {
    font-size: 40px;
    font-weight: normal;
    margin: 0 -100px; }
    @media screen and (max-width: 600px) {
      .post .post-header .post-title {
        font-size: 34px; } }
  .post .post-header .post-meta {
    color: #999;
    font-size: 14px;
    margin: 0 -100px; }
  @media screen and (max-width: 600px) {
    .post .post-header {
      text-align: center;
      margin-bottom: 10px;
      padding: 10px; } }
.post .post-content {
  color: #333; }
  .post .post-content h1, .post .post-content h2, .post .post-content h3, .post .post-content h4, .post .post-content h5, .post .post-content h6 {
    color: #000; }
  .post .post-content h1, .post .post-content h2 {
    margin-bottom: 10px;
    margin-top: 30px; }
  .post .post-content h1, .post .post-content h2, .post .post-content h3 {
    border-bottom: 1px solid #CCC; }
  .post .post-content pre {
    margin: 0 -30px; }
    @media screen and (max-width: 600px) {
      .post .post-content pre {
        margin: 0 -10px; } }
  .post .post-content .middle-image {
    display: block;
    margin-left: auto;
    margin-right: auto; }
.post .post-comments {
  padding-top: 30px; }

.home .page-heading {
  font-size: 40px;
  font-weight: normal;
  margin: 20px; }
  @media screen and (max-width: 600px) {
    .home .page-heading {
      margin: 10px;
      font-size: 34px; } }
.home .rss-link {
  float: right;
  text-decoration: none;
  border: 1px solid;
  color: #999;
  background: #fff;
  font-size: 11.2px;
  padding: 1px 8px; }
  .home .rss-link:hover, .home .rss-link:focus {
    color: #666; }
.home .post-list {
  margin: 0;
  padding: 20px 40px;
  list-style: none; }
  .home .post-list > li {
    padding-bottom: 30px;
    border-bottom: 1px solid #CCC;
    margin-bottom: 30px; }
  .home .post-list .post-title {
    font-size: 28px;
    font-weight: normal;
    margin: 0; }
  .home .post-list .post-meta {
    font-size: 14px;
    color: #666;
    margin: 0 20px;
    margin-bottom: .5em; }
  .home .post-list .post-excerpt {
    margin: 0 20px; }
    .home .post-list .post-excerpt, .home .post-list .post-excerpt * {
      font-size: 14px;
      line-height: 14px;
      padding-top: 0;
      padding-bottom: 0;
      color: #333; }
    .home .post-list .post-excerpt code, .home .post-list .post-excerpt pre, .home .post-list .post-excerpt pre * {
      color: #666;
      background-color: #eee; }
    .home .post-list .post-excerpt th {
      border-color: #ccc;
      background-color: #ccc; }
    .home .post-list .post-excerpt a {
      color: #069; }
    .home .post-list .post-excerpt img {
      display: block;
      margin: 1em auto;
      max-height: 16em;
      opacity: .7;
      transition: opacity .3s; }
      .home .post-list .post-excerpt img:hover {
        opacity: 1; }
  @media screen and (max-width: 600px) {
    .home .post-list {
      padding: 10px; } }
.home .pagination {
  text-align: center;
  text-decoration: none;
  color: #666;
  margin: 30px 0; }
  .home .pagination .page_number {
    margin: 0 30px; }
  .home .pagination .previous, .home .pagination .next {
    padding: 10px 20px;
    white-space: nowrap; }
  .home .pagination a.previous, .home .pagination a.next {
    color: #333;
    border-radius: 20px;
    border: 1px solid #CCC; }
  .home .pagination a.previous:hover, .home .pagination a.next:hover {
    background: #fefefe;
    color: #000;
    text-decoration: none; }

@media screen and (max-width: 800px) {
  .page-content {
    padding: 0; }

  .footer {
    padding: 15px 0; } }
@media screen and (max-width: 600px) {
  .header, .header .site-nav {
    text-align: center; }
  .header .site-title {
    float: none; }

  .col-main {
    padding: 10px; }

  .col-box {
    width: 100%;
    float: none;
    margin-bottom: 20px; }

  pre {
    padding: 10px; } }
/* Monokai Theme from https://github.com/richleland/pygments-css/blob/master/monokai.css */
.highlight {
  /* Comment */
  /* Error */
  /* Keyword */
  /* Literal */
  /* Name */
  /* Operator */
  /* Punctuation */
  /* Comment.Multiline */
  /* Comment.Preproc */
  /* Comment.Single */
  /* Comment.Special */
  /* Generic.Emph */
  /* Generic.Strong */
  /* Keyword.Constant */
  /* Keyword.Declaration */
  /* Keyword.Namespace */
  /* Keyword.Pseudo */
  /* Keyword.Reserved */
  /* Keyword.Type */
  /* Literal.Date */
  /* Literal.Number */
  /* Literal.String */
  /* Name.Attribute */
  /* Name.Builtin */
  /* Name.Class */
  /* Name.Constant */
  /* Name.Decorator */
  /* Name.Entity */
  /* Name.Exception */
  /* Name.Function */
  /* Name.Label */
  /* Name.Namespace */
  /* Name.Other */
  /* Name.Property */
  /* Name.Tag */
  /* Name.Variable */
  /* Operator.Word */
  /* Text.Whitespace */
  /* Literal.Number.Float */
  /* Literal.Number.Hex */
  /* Literal.Number.Integer */
  /* Literal.Number.Oct */
  /* Literal.String.Backtick */
  /* Literal.String.Char */
  /* Literal.String.Doc */
  /* Literal.String.Double */
  /* Literal.String.Escape */
  /* Literal.String.Heredoc */
  /* Literal.String.Interpol */
  /* Literal.String.Other */
  /* Literal.String.Regex */
  /* Literal.String.Single */
  /* Literal.String.Symbol */
  /* Name.Builtin.Pseudo */
  /* Name.Variable.Class */
  /* Name.Variable.Global */
  /* Name.Variable.Instance */
  /* Literal.Number.Integer.Long */
  /* Generic Heading & Diff Header */
  /* Generic.Subheading & Diff Unified/Comment? */
  /* Generic.Deleted & Diff Deleted */
  /* Generic.Inserted & Diff Inserted */ }
  .highlight .hll {
    background-color: #49483e; }
  .highlight .c {
    color: #75715e; }
  .highlight .err {
    color: #960050;
    background-color: #1e0010; }
  .highlight .k {
    color: #66d9ef; }
  .highlight .l {
    color: #ae81ff; }
  .highlight .n {
    color: #f8f8f2; }
  .highlight .o {
    color: #f92672; }
  .highlight .p {
    color: #f8f8f2; }
  .highlight .cm {
    color: #75715e; }
  .highlight .cp {
    color: #75715e; }
  .highlight .c1 {
    color: #75715e; }
  .highlight .cs {
    color: #75715e; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .kc {
    color: #66d9ef; }
  .highlight .kd {
    color: #66d9ef; }
  .highlight .kn {
    color: #f92672; }
  .highlight .kp {
    color: #66d9ef; }
  .highlight .kr {
    color: #66d9ef; }
  .highlight .kt {
    color: #66d9ef; }
  .highlight .ld {
    color: #e6db74; }
  .highlight .m {
    color: #ae81ff; }
  .highlight .s {
    color: #e6db74; }
  .highlight .na {
    color: #a6e22e; }
  .highlight .nb {
    color: #f8f8f2; }
  .highlight .nc {
    color: #a6e22e; }
  .highlight .no {
    color: #66d9ef; }
  .highlight .nd {
    color: #a6e22e; }
  .highlight .ni {
    color: #f8f8f2; }
  .highlight .ne {
    color: #a6e22e; }
  .highlight .nf {
    color: #a6e22e; }
  .highlight .nl {
    color: #f8f8f2; }
  .highlight .nn {
    color: #f8f8f2; }
  .highlight .nx {
    color: #a6e22e; }
  .highlight .py {
    color: #f8f8f2; }
  .highlight .nt {
    color: #f92672; }
  .highlight .nv {
    color: #f8f8f2; }
  .highlight .ow {
    color: #f92672; }
  .highlight .w {
    color: #f8f8f2; }
  .highlight .mf {
    color: #ae81ff; }
  .highlight .mh {
    color: #ae81ff; }
  .highlight .mi {
    color: #ae81ff; }
  .highlight .mo {
    color: #ae81ff; }
  .highlight .sb {
    color: #e6db74; }
  .highlight .sc {
    color: #e6db74; }
  .highlight .sd {
    color: #e6db74; }
  .highlight .s2 {
    color: #e6db74; }
  .highlight .se {
    color: #ae81ff; }
  .highlight .sh {
    color: #e6db74; }
  .highlight .si {
    color: #e6db74; }
  .highlight .sx {
    color: #e6db74; }
  .highlight .sr {
    color: #e6db74; }
  .highlight .s1 {
    color: #e6db74; }
  .highlight .ss {
    color: #e6db74; }
  .highlight .bp {
    color: #f8f8f2; }
  .highlight .vc {
    color: #f8f8f2; }
  .highlight .vg {
    color: #f8f8f2; }
  .highlight .vi {
    color: #f8f8f2; }
  .highlight .il {
    color: #ae81ff; }
  .highlight .gu {
    color: #75715e; }
  .highlight .gd {
    color: #f92672; }
  .highlight .gi {
    color: #a6e22e; }

.page-content .wrapper .post-toc > ul {
  overflow: auto; }

.util-notify1 {
  position: absolute;
  z-index: 100;
  background: rgba(0, 0, 0, 0.7);
  color: #FFF;
  padding: 5px 10px;
  font-size: 14px;
  pointer-events: none;
  opacity: 1;
  transition: .2s ease; }
  .util-notify1.hidden {
    opacity: 0;
    display: none; }
